* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

header {
  position: relative;
  display: grid;
  align-items: center;
  background-color: rgb(
    9,
    82,
    118
  ); /* For browsers that do not support gradients */
  background-image: linear-gradient(
    to right,
    rgb(22, 127, 166),
    rgb(1, 56, 90)
  );
  height: 10vh;
  width: 100%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

header h1 {
  margin: auto;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  @media screen and (max-width: 640px) {
    font-size: 1em;
  }
}

header .logo-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
}

#logo {
  width: 250px;
  @media screen and (max-width: 640px) {
    width: 200px;
  }
}

header #clock {
  font-size: 2em;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-right: 20px;
  @media screen and (max-width: 640px) {
    font-size: 1.5em;
  }
}

#clock {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

table {
  margin: 30px 0px 0px 5%;
  border-collapse: collapse;
  width: 90%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
}

// .without_ampm::-webkit-datetime-edit-ampm-field {
//   display: none;
// }
// input[type="time"]::-webkit-clear-button {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   -o-appearance: none;
//   -ms-appearance: none;
//   appearance: none;
//   margin: -10px;
// }

a {
  color: red;
  cursor: pointer;
  font-weight: bold;
}

// tr:hover {
//   color: white;
//   background-color: rgb(22, 127, 166);
// }

form {
  margin: 50px 0px 0px 0px;
  float: right;
}

label {
  display: table-cell;
  text-align: right;
}
input {
  display: table-cell;
  margin: 5px 0px 0px 10px;
  width: 60%;
  text-align: center;
}
div.row {
  display: table-row;
}

.btn-container {
  margin: 18px 0px 0px 100px;
}

.btn {
  padding: 6px 12px 6px 12px;
  border-radius: 12px;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: (1px 1px 3px rgba(0, 0, 0, 0.2));
  @media screen and (max-width: 640px) {
    margin: 0px 0px 0px 5px;
    font-size: 0.8em;
  }
}

.btn:hover {
  transform: translatey(-1.5px);
  -webkit-filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
}

.btn:active {
  transform: translateY(-0.2px);
  -webkit-filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
}

footer {
  display: grid;
  place-items: center;
  background-color: rgb(
    9,
    82,
    118
  ); /* For browsers that do not support gradients */
  background-image: linear-gradient(
    to right,
    rgb(22, 127, 166),
    rgb(1, 56, 90)
  );
  position: absolute;
  height: 30px;
  width: 100%;
  bottom: 0;
  left: 0;
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.5);
}

#footer-logo {
  width: 120px;
}
